apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

namespace: atp-training

images:
- name: asia.gcr.io/poc-innovation-iot/atp-user-inquiry
  newTag: 192d6a73


configMapGenerator:
- behavior: merge
  files:
  - configs/config.yaml
  name: atp-user-inquiry-configmap-file

secretGenerator:
- behavior: merge
  envs:
  - secrets/secret.env
  name: atp-user-inquiry-secret-env
