apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - resources/deployment.yaml
  - resources/service.yaml

namespace: atp-training

configMapGenerator:

  # can be other file type
  - name: atp-user-inquiry-configmap-file
    files:
    - configs/config.yaml

secretGenerator:
  - name: atp-user-inquiry-secret-env
    envs:
    - secrets/secret.env